{% extends "base.html" %}

{% block content %}
  <div class="page-header align-items-start" style="height: calc(100vh - 69px)" loading="lazy">
    <div class="container" style="max-width: 800px">
      <div class="d-flex justify-content-center align-items-center pt-4 pb-6">
        <img class="d-lg-block w-75" src="{{ ASSETS_ROOT }}/img/logo.svg" alt="logo">
      </div>
      <div class="card blur shadow-blur box-shadow-xl overflow-hidden mb-5">
        <div class="card card-plain">
          <div class="py-3">
            <h2 class="font-weight-bolder text-center">
              Logged out!
            </h2>
          </div>
          <div class="card-body">
            <h4 class="text-center"><a href="{% url "login" %}">Please, click here to login again</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
