{% extends "base.html" %}

{% block content %}
  <div class="page-header align-items-start" style="min-height: calc(100vh - 69px)" loading="lazy">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center pt-4 pb-5">
        <img class="d-lg-block w-25" src="{{ ASSETS_ROOT }}/img/logo.svg" alt="logo">
      </div>
      <div class="card blur shadow-blur box-shadow-xl overflow-hidden mb-5">
        <div class="card card-plain">
          <div class="py-3 px-7">
            <h2 class="font-weight-bolder text-center">
              Menu
            </h2>
            <h6 class="text-center m-0">
              Fresh ingredients. Endless possibilities. Discover your perfect crepe.
            </h6>
            <h6 class="text-center">
              Start your day right with our delicious breakfast crepes. Or indulge in a sweet treat any time!
            </h6>
          </div>

          <div class="card-body">
            List...
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}