{% extends "base.html" %}

{% block content %}
  <div class="page-header align-items-start" style="min-height: calc(100vh - 69px)" loading="lazy">
    <div class="container" style="max-width: 1000px">
      <div class="d-flex justify-content-center align-items-center pt-4 pb-5">
        <img class="d-lg-block w-25" src="{{ ASSETS_ROOT }}/img/logo.svg" alt="logo">
      </div>
      <div class="card blur shadow-blur box-shadow-xl overflow-hidden">
        <div class="card card-plain">
          <div class="pt-3 px-4">
            <h1 class="font-weight-bolder text-center mb-3">
              Menu
            </h1>
            <h6 class="text-center m-0">
              Fresh ingredients. Endless possibilities. Discover your perfect crepe.
            </h6>
            <h6 class="text-center m-0">
              Start your day right with our delicious breakfast crepes. Or indulge in a sweet treat any time!
            </h6>
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush mb-5">
              {% for dishtype in dishtype_list %}
                <li class="list-group-item border-0" style="background: none">
                  <a href="{% url 'cafe:menu-detail' dishtype.id %}">
                    <div class="text-dark d-flex justify-content-center align-items-center">
                      <h4>{{ dishtype.name }}</h4>
                    </div>
                  </a>
                  <ul class="list-group list-group-flush">
                    {% for dish in dishtype.dish_set.all %}
                      <li class="list-group-item border-0" style="background: none">
                        <a href="{% url 'cafe:dish-detail' dish.id %}">
                          <div class="text-dark d-flex justify-content-between">
                            <h6>{{ dish.name }}</h6>
                            <span>${{ dish.price }}</span>
                          </div>
                        </a>
                      </li>
                      {% empty %}
                        <span class="text-center">No position yet</span>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>

            <h6 class="text-center">
              Are there new menu items? Add them!
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <a href="{% url "cafe:menu-create" %}" class="btn btn-sm bg-gradient-danger mb-0 me-2">Add new section</a>
              <a href="{% url "cafe:dish-create" %}" class="btn btn-sm bg-gradient-danger mb-0 mx-2">Add new position</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
